body {
  background-image: url("bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: auto;
  color: black;
}

.radio {
  background-color: #4fd486;
}

.result-desc {
  font-size: 18px;
  margin-top: 30px;
}

.col-md-6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  background-color: #5CDB95;
  border: 10px solid #8EE4AF;
  border-style: groove;
}

#instructions {
  background-color: #5CDB95;
  text-align: center;
  border: 10px solid #8EE4AF;
  border-style: groove;
  padding-top: 5px;
  padding-bottom: 5px;
}

.jumbotron {
  margin-top: 20px;
  background-color: #5CDB95;
  text-align: center;
  border: 10px solid #8EE4AF;
  border-style: groove;
}

.img {
  width: 300px;
  height: auto;
  float: left;
  margin: 30px;
}

#result-card {
  display: none;
  margin-bottom: 20px;
}

.btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 10px solid #0c64bd;
  border-style: groove;
}

label, .card-title {
  padding: 5px;
}